/* 全局属性
 */
#md-view {
  padding: 5px;
  font-family: ptima-Regular;
  word-break: break-all;
}

/* 段落，下方未标注标签参数均同此处

 */
#md-view p {
  margin-top: 3px;
  margin-bottom: 3px;
  line-height: 26px;
  word-spacing: 3px;
  letter-spacing: 3px;
  text-align: left;
  color: #3e3e3e;
  font-size: 16px;
  text-indent: 2em;
}

/* 一级标题 */
#md-view h1 {}

/* 一级标题内容 */
#md-view h1 .content {}

/* 一级标题修饰 请参考有实例的主题 */
#md-view h1:after {}

/* 二级标题 */
#md-view h2 {
  border-bottom: 2px solid rgb(239, 112, 96);
  font-size: 1.3em;
}

/* 二级标题内容 */
#md-view h2 .content {
  display: inline-block;
  font-weight: bold;
  background: rgb(239, 112, 96);
  color: #ffffff;
  padding: 3px 10px 1px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-right: 3px;
}

/* 二级标题修饰 请参考有实例的主题 */
#md-view h2:after {
  display: inline-block;
  content: " ";
  vertical-align: bottom;
  border-bottom: 36px solid #efebe9;
  border-right: 20px solid transparent;
}

/* 三级标题 */
#md-view h3 {}

/* 三级标题内容 */
#md-view h3 .content {}

/* 三级标题修饰 请参考有实例的主题 */
#md-view h3:after {
  list-style-type: square;
}

/* 无序列表整体样式
 * list-style-type: square|circle|disc;
 */
#md-view ul {}

/* 有序列表整体样式
 * list-style-type: upper-roman|lower-greek|lower-alpha;
 */
#md-view ol {
  list-style-type: upper-roman
}

/* 列表内容，不要设置li
 */
#md-view li section {}

/* 引用
 */
#md-view blockquote {
  border-left-color: black;
  background: gray;
}

/* 引用文字 */
#md-view blockquote p {
  border-bottom: 1px solid #009688;
}

/* 链接  */
#md-view a {
  color: rgb(239, 112, 96);
  border-bottom: 1px solid rgb(239, 112, 96);
}

/* 加粗 */
#md-view strong {}

/* 斜体 */
#md-view em {}

/* 加粗斜体 */
#md-view em strong {}

/* 删除线 */
#md-view del {}

/* 分隔线
 */
#md-view hr {
  border-top: 1px solid #3e3e3e;
}

/* 图片

 */
#md-view img {
  width: 80%;
  margin: 0 auto;
  margin: 0 0;
}

/* 图片描述文字 */
#md-view figcaption {}

/* 行内代码 */
#md-view code {
  color: rgb(239, 112, 96);
}

/* 非微信代码块
 * 代码块换行 display: block;
 */
#md-view pre code {
  display: block;
  color: rgb(166, 122, 216);
  background-color: #fdfcfc;
  border: 1px solid #009688;
  /* word-wrap: break-word; */
  word-break: break-all;
}

/*
 * 表格内的单元格
 */
#md-view table tr th,
#md-view table tr td {
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 5px 10px;
}

/* 脚注文字 */
#md-view .footnote-word {
  color: #ff3502;
}

/* 脚注上标 */
#md-view .footnote-ref {
  color: rgb(239, 112, 96);
}

/* "参考资料"四个字 
 * 内容 content: "参考资料";
 */
#md-view .footnotes-sep:before {}

/* 参考资料编号 */
#md-view .footnote-num {}

/* 参考资料文字 */
#md-view .footnote-item p {}

/* 参考资料解释 */
#md-view .footnote-item p em {}

/* 行间公式
 * 最大宽度 max-width: 300% !important;
 */
#md-view .block-equation svg {}

/* 行内公式
 */
#md-view .inline-equation svg {}